# Build results
[Bb]in/
[Oo]bj/
[Oo]ut/
publish/
TestResults/
*.user

# Visual Studio / Rider
.vs/
.idea/
*.suo
*.userprefs

# Rider / VS Code
.vscode/

# NuGet
*.nupkg
.nuget/

# OS
.DS_Store
Thumbs.db
